<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a router-link="/inicio" routerLinkActive="active" class="nav-link">ABC Producto</a>
            </li>
            <li class="nav-item">
                <a router-link="/carrito" routerLinkActive="active" class="nav-link">Ganancias</a>
            </li>
            <li class="nav-item">
                <a router-link="/cuenta" routerLinkActive="active" class="nav-link">Productos</a>
            </li>
            <li class="nav-item">
                <a router-link="/cuenta" routerLinkActive="active" class="nav-link">Ventas pendientes</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <form clrForm>
        <h1>ABC Productos</h1>
        <div class="p-fluid">
            <div class="p-field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" pInputText>
            </div>
            <div class="p-field">
                <label for="descripcion">Descripcion</label>
                <input id="descripcion" type="text" pInputText>
            </div>
            <div class="p-field">
                <label for="cantidad">Cantidad</label>
                <p-inputNumber [showButtons]="true" [min]="1" [max]="200" [maxlength]="3" [size]="4" id="cantidad"  mode="decimal"></p-inputNumber>
            </div>
            <div class="p-field">
                <label for="precio">Precio</label>
                <p-inputNumber id="precio" [min]="1" [max]="10000" [maxlength]="12" mode="currency" currency="MXN" locale="en-US"></p-inputNumber>
            </div>
        </div>

        <br>
        <button pButton type="button" label="Alta"></button>
        <button pButton type="button" label="Baja"></button>
        <button pButton type="button" label="Cambio"></button>
        <button pButton type="button" label="Cancelar"></button>
        <!--
        <button class="btn btn-primary" type="submit">Alta</button>
        <button class="btn btn-primary" type="submit">Baja</button>
        <button class="btn btn-primary" type="submit">Cambio</button>
        <button class="btn btn-primary" type="submit">Cancelar</button>-->
    </form>
</div>