.col, .col-3 {
  margin: 10px;
}

.cont-botones {
  margin: 0 auto;
}

.tabla{
  max-height: 450px;
}

.N {
  background-color: red;
}

.S {
  background-color: green;
}

.container{
  background-color: rgba(5, 1, 250, 0.466);
  border-radius: 20px;
}

.container h2{
  width: 30%;
  margin: 10px;
  padding: 0 20px;
  background-color: rgb(245, 237, 237);
  border-radius: 10px;
}
