<app-store-menubar></app-store-menubar>

<div class="container">
  <br>
  <h2>ABC de Productos</h2>

  <div class="row">
    <clr-datagrid class="tabla">
      <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
      <clr-dg-column [clrDgField]="'nombre'">Nombre</clr-dg-column>
      <clr-dg-column [clrDgField]="'descripcion'">Descripcion</clr-dg-column>
      <clr-dg-column [clrDgField]="'cantidad'">Cantidad</clr-dg-column>
      <clr-dg-column [clrDgField]="'unidad'">Unidad</clr-dg-column>
      <clr-dg-column [clrDgField]="'precio'">Precio</clr-dg-column>
      <clr-dg-column [clrDgField]="'imagen'">Imagen</clr-dg-column>
      <clr-dg-column>Detalles</clr-dg-column>

      <clr-dg-row *clrDgItems="let producto of productos">
        <clr-dg-cell>{{ producto.id }}</clr-dg-cell>
        <clr-dg-cell>{{ producto.name }}</clr-dg-cell>
        <clr-dg-cell>{{ producto.description }} </clr-dg-cell>
        <clr-dg-cell>{{ producto.quantity }}</clr-dg-cell>
        <clr-dg-cell>{{ producto.medida}} </clr-dg-cell>
        <clr-dg-cell>{{ producto.prize }}</clr-dg-cell>
        <clr-dg-cell>
          <img src="{{ producto.img }} " alt="" width="100px">
        </clr-dg-cell>

        <clr-dg-cell>
          <button class="botones btn btn-dark {{producto.estado}}" (click)="info(producto.id)">
            <i class="bi bi-info-circle"></i>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

    </clr-datagrid>
  </div>

  <div class="row">
    <div class="col col-2">
      <input type="text" #id class="form-control" placeholder="ID" readonly value="{{ detalles?.id }}">
    </div>
  </div>

  <div class="row">

    <div class="col-10">
      <div class="col">
        <input type="text" #name class="form-control" placeholder="Nombre del producto" value="{{ detalles?.name }}">
      </div>
      <div class="col">
        <textarea class="form-control" #desc placeholder="Descripcion" rows="6" value="{{ detalles?.description }}"></textarea>
      </div>
      <div class="col">
        <input class="form-control" #img type="text" placeholder="Enlace de la Imagen" value="{{ detalles?.img }}">
      </div>

      <div class="row">
        <div class="col col-3">
          <input type="number" #cant class="form-control" placeholder="Cantidad" max="100" min="0.01" value="{{ detalles?.quantity }}">
        </div>
        <div class="col col-3">
          <select class="form-control" #medida value="{{ detalles?.medida }}">
            <option value="">Unidad</option>
            <option value="pz">pz</option>
            <option value="kg">kg</option>
          </select>
        </div>
      </div>

      <div class="col col-5">
        <input type="number" #prize class="form-control" placeholder="Precio" min="0.1" max="10000" value="{{ detalles?.prize }}">
      </div>

      <div class="col col-3">
        <select class="form-control" #estado value="{{ detalles?.estado }}">
          <option value="">Status</option>
          <option value="S">Activo</option>
          <option value="N">Inactivo</option>
        </select>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-8 cont-botones">
      <button class="botones btn btn-dark" (click)="add( name.value, desc.value, img.value, cant.value, medida.value, prize.value)">Alta</button>
      <button class="botones btn btn-dark" (click)="update(id.value, name.value, desc.value, img.value, cant.value, medida.value, prize.value, estado.value)">Cambio</button>
      <button class="botones btn btn-dark" (click)="limpiar()">Cancelar</button>
    </div>
  </div>

</div>
