.registro {
  width: 40%;
  margin: 0 auto;
  background-color: darkseagreen;
  color: white;
}

.row {
  margin: 1rem 0.5rem;
}

.botones {
  width: 50%;
  margin: 10px auto;
  padding: 3px;
}

.pi.pi-user-plus {
  text-align: center;
  display: block;
}
