<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a router-link="/login" routerLinkActive="active" class="nav-link">Inicio de Sesion</a>
            </li>
            <li class="nav-item">
                <a router-link="/registro" routerLinkActive="active" class="nav-link">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>
<form clrForm>

    
        <label>Nombre</label>
        <input type="text" pInputText />
        
        <br>

    
        <label>Apellido</label>
        <input type="text" pInputText />
        
        <br>

    
        <label>Domicilio</label>
        <input type="text" pInputText />
       
        <br>

    
        <label>Coreo</label>
        <input type="text" pInputText />
    
    
        <br>
    
        <label>Usuario</label>
        <input type="text" pInputText />
  
    
        <br>
    
        <label>Contraseña</label>
        <input type="text" pInputText />
       
    
        <br>
    
        <label>Confirmar contraseña</label>
        <input type="text" pInputText />
       
    

    <br>
    <button pButton type="button" label="Registrar" ></button>
</form>