<div class="registro">
  <div class="caja">
    <nav id="menu-login" class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <!--<a class="navbar-brand">Tienda en Casa</a>-->
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a href="/login" routerLink="/login" routerLinkActive="active" class="nav-link">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a href="/registro" routerLink="/registro" routerLinkActive="active" class="nav-link">Registrarse</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <i class="pi pi-user-plus" style="font-size: 200px"></i>
  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
    </div>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Apellido(s)" aria-label="Last name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Domicilio" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Correo" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Usuario" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <button class="botones btn btn-dark" (click)="registro()">Registrarse</button>
  </div>
</div>
