<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a router-link="/inicio" routerLinkActive="active" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a router-link="/carrito" routerLinkActive="active" class="nav-link">Carrito</a>
            </li>
            <li class="nav-item">
                <a router-link="/cuenta" routerLinkActive="active" class="nav-link">Cuenta</a>
            </li>
            <li class="nav-item">
                <a router-link="/logout" routerLinkActive="active" class="nav-link">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>

<div class="products">

    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>
    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>
    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>
    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>
    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>
    <div class="item-product">
        <h2>
            Producto 1
        </h2>

        <img src="https://placekitten.com/60/60" alt="Producto">

        <p>$ 200.00</p>
    </div>

</div>