.datos {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 20px;
}


.container {
  margin: 10px 0;
  display: inline-block;
}

.main {
  margin: 20px;
}

h3 {
  color:rgb(10, 13, 219);
}

.products {
  margin: 0 auto;
  width: 96%;
  align-items: center;
  color: black;
}

.nav-item {
  margin: 0 5px;
}

.img-prod {

  margin: 0px auto;
  display: block;
  border-radius: 20px;
}

.cantidad {
  margin: 5px;
  background-color: whitesmoke;//darkseagreen
  width: 50%;
}
