<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a href="/inicio" router-link="/inicio" routerLinkActive="active" class="nav-link">
          <i class="pi pi-home" style="font-size: 30px"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="/carrito" router-link="/carrito" routerLinkActive="active" class="nav-link">
          <i class="pi pi-shopping-cart" style="font-size: 30px"></i>
        </a>

      </li>
      <li class="nav-item">
        <a href="/cuenta" router-link="/cuenta" routerLinkActive="active" class="nav-link">
          <i class="pi pi-user" style="font-size: 30px"></i>
        </a>

      </li>
      <li class="nav-item">
        <a href="/login" router-link="/login" routerLinkActive="active" class="nav-link">
          <i class="pi pi-sign-out" style="font-size: 30px"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="products">

  <div class="container col-3" *ngFor="let producto of productos">
    <div class="datos">

      <img class="img-prod" src="{{ producto.img }}" alt="Producto">

      <h3>
        {{ producto.nombre }}
      </h3>

      <p>Precio: $ {{ producto.precio }} {{ producto.unidad}}</p>

      <span class="col-3">Cantidad</span>
      <input type="number" class="col-3 cantidad" min="0" max="99" size="4">

    </div>
  </div>

</div>
