<h2>Tabla de ventas pendientes</h2>

<table class="default">
    <tr>
        <td>Cliente</td>
        <td>No. pedido</td>
        <td>Total</td>
        <td>Fecha</td>
        <td>Dommicilio</td>
        <td>Completado</td>
        <td>Detalles</td>
    </tr>
    <tr>
        <td>Claudia</td>
        <td>200</td>
        <td>$ 2,500.00</td>
        <td>04/11/2021</td>
        <td>Su casa</td>
        <td>
            <button>Check</button>
        </td>
        <td>
            <button>Detalles</button>
        </td>
    </tr>
    <tr>
        <td>Bart</td>
        <td>205</td>
        <td>$ 20,500.00</td>
        <td>01/11/2021</td>
        <td>Su casa</td>
        <td>
            <button>Check</button>
        </td>
        <td>
            <button>Detalles</button>
        </td>
    </tr>
</table>

<h2>Pedido #200</h2>

<table class="default">
    <tr>
        <td>Producto</td>
        <td>Cantidad</td>
        <td>Precio</td>
        <td>Total</td>
    </tr>
    <tr>
        <td>Bicicleta</td>
        <td>2</td>
        <td>$ 750.00</td>
        <td>$ 1,500.00</td>
    </tr>
    <tr>
        <td>Figura de Bart</td>
        <td>2</td>
        <td>$ 500.00</td>
        <td>$ 500.00</td>
    </tr>
</table>
