<app-store-menubar></app-store-menubar>

<h2>Tabla de ventas pendientes</h2>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'nombre'">Nombre</clr-dg-column>
  <clr-dg-column [clrDgField]="'pedido'">No.Pedido</clr-dg-column>
  <clr-dg-column [clrDgField]="'total'" clrDgColType="number">Total</clr-dg-column>
  <clr-dg-column [clrDgField]="'fecha'">fecha</clr-dg-column>
  <clr-dg-column [clrDgField]="'domicilio'">Domicilio</clr-dg-column>
  <clr-dg-column>Completar</clr-dg-column>
  <clr-dg-column>Detalles</clr-dg-column>

  <clr-dg-row *clrDgItems="let venta of ventas">
    <clr-dg-cell>{{ venta.nombre }}</clr-dg-cell>
    <clr-dg-cell>{{ venta.pedido }}</clr-dg-cell>
    <clr-dg-cell>$ {{ venta.total }} </clr-dg-cell>
    <clr-dg-cell>{{ venta.fecha }}</clr-dg-cell>
    <clr-dg-cell>{{ venta.domicilio}} </clr-dg-cell>
    <clr-dg-cell>
      <button class="botones btn btn-dark">
        <i class="bi bi-check-circle"></i>
      </button>
    </clr-dg-cell>
    <clr-dg-cell>
      <button class="botones btn btn-dark">
        <i class="bi bi-info-circle"></i>
      </button>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

<h2>Pedido #1</h2>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'nombre'">Producto</clr-dg-column>
  <clr-dg-column [clrDgField]="'cantidad'" clrDgColType="number">Cantidad</clr-dg-column>
  <clr-dg-column [clrDgField]="'precio'" clrDgColType="number">Precio</clr-dg-column>
  <clr-dg-column [clrDgField]="'total'" clrDgColType="number">Total</clr-dg-column>

  <clr-dg-row *clrDgItems="let prodcarrito of productos">
    <clr-dg-cell>{{ prodcarrito.nombre }}</clr-dg-cell>
    <clr-dg-cell>{{ prodcarrito.cantidad }} {{ prodcarrito.unidad }}</clr-dg-cell>
    <clr-dg-cell>$ {{ prodcarrito.precio }} </clr-dg-cell>
    <clr-dg-cell>$ {{ prodcarrito.cantidad * prodcarrito.precio }}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
