/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
body {
    background-color: darkgray;
}

body label {
    color: blue;
}
/*
.p-button {
    display: block;
    margin: 0 auto;
}
*/