/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/31097hd.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

body label {
  color: white;
}
/*
.p-button {
    display: block;
    margin: 0 auto;
}
*/
