/*@import "..\app.component.scss";*/
.login {
  width: 40%;
  margin: 0 auto;
  //background-color: darkseagreen;
  background-color: rgba(5, 1, 250, 0.466);
  color: white;
  height: 700px;
}

.row {
  margin: 1rem 0.5rem;
}

.botones {
  width: 50%;
  margin: 10px auto;
  padding: 3px;
}

.bi {
  text-align: center;
  display: block;
  margin: 10px;
}
