<p-menubar id="p-menu" [model]="items"></p-menubar>

<form p-component>
    
    <div class="p-fluid">
        <div class="p-field">
            <label for="usuario">Usuario</label>
            <input id="usuario" type="text" pInputText>
        </div>
        <div class="p-field">
            <label for="contraseña">Contraseña</label>
            <input id="contraseña" type="text" pInputText>
        </div>
    </div>
    <br>
    <button pButton type="button" label="Ingresar" id="ingresar"></button>
</form>