.titulo h2 {
    display: inline;
    margin: 0 2rem;
    font-size: 12;
}

.item-product {
    width: 100%;
    background-color: azure;
    display: block;
}

.item-product img {
    margin: 0 2rem;;
}

.item-product p{

    margin: 1rem;
    width: 17%;
    display: inline-block;
}

.item-product button {
    
    margin: 1rem;
    display: inline-block;
}

.products {
    margin: 0 auto;
    width: 85%;
    align-items: center;
}

form{
    width: 35%;
    margin: 0 auto;
}