<app-store-menubar></app-store-menubar>

<div class="container">
  <br>
  <clr-datagrid class="tabla">
    <clr-dg-column [clrDgField]="'img'">Imagen</clr-dg-column>
    <clr-dg-column [clrDgField]="'nombre'">Nombre</clr-dg-column>
    <clr-dg-column [clrDgField]="'precio'" clrDgColType="number">Precio</clr-dg-column>
    <clr-dg-column [clrDgField]="'cantidad'" clrDgColType="number">Cantidad</clr-dg-column>
    <clr-dg-column [clrDgField]="'total'" clrDgColType="number">Total</clr-dg-column>
    <clr-dg-column>Eliminar</clr-dg-column>
    <clr-dg-row *clrDgItems="let producto of carrito">
      <clr-dg-cell>
        <img src="{{ producto.img }}" alt="Imagen de {{ producto.name }}" width="100px">
      </clr-dg-cell>
      <clr-dg-cell>{{ producto.name }}</clr-dg-cell>
      <clr-dg-cell>$ {{ producto.prize }} mxn</clr-dg-cell>
      <clr-dg-cell>{{ producto.quantity }}  {{ producto.medida }}</clr-dg-cell>
      <clr-dg-cell>$ {{ producto.quantity * producto.prize }} mxn</clr-dg-cell>
      <clr-dg-cell>
        <button class="btn btn-dark" (click)="borrarItem(producto.id)">
          <i class="bi bi-x-circle" style="font-size: 20px;"></i>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>


</div>
<div>
  <button class="botones btn btn-light" (click)="comprar()">Comprar</button>
  <button class="botones btn btn-light" (click)="guardar()">Guardar</button>
</div>
