<app-store-menubar></app-store-menubar>

<div class="container">

  <div class="row">
    <h2>Ventas totales</h2>
  </div>

  <div class="row">

    <div class="col-3">
      <label>Escoja el tipo de grafica:</label>
    </div>

    <div class="col-2">
      <select class="form-control" #selectGrafica (change)="tipoGrafica(selectGrafica.value)"
        placeholder="TIpo de grafica">
        <option value="">Tipo...</option>
        <option value="Mes">Mes</option>
        <option value="Año">Año</option>
      </select>
    </div>

    <div class="col-2" *ngIf="opcion == 'Mes'">

      <select class="form-control" #selectMes (change)="mes(selectMes.value)">
        <option value="">Mes</option>
        <option value="Enero">Enero</option>
        <option value="Febrero">Febrero</option>
        <option value="Marzo">Marzo</option>
        <option value="Abril">Abril</option>
        <option value="Mayo">Mayo</option>
        <option value="Junio">Junio</option>
        <option value="Julio">Julio</option>
        <option value="Agosto">Agosto</option>
        <option value="Septiembre">Septiembre</option>
        <option value="Octubre">Octubre</option>
        <option value="Noviembre">Noviembre</option>
        <option value="Diciembre">Diciembre</option>
      </select>
    </div>

    <div class="col-2" *ngIf="opcion == 'Año'">
      <input class="form-control" type="number" min="2000" max="{{ currentDate | date: 'y' }}" placeholder="Año"
        #selectAnio (change)="anio(selectAnio.value)">
    </div>

    <div class="col-3" *ngIf="valor != ''">
      <button class="botones btn btn-dark" (click)="generar()">Generar</button>
    </div>

  </div>

</div>

<div class="container" *ngIf="mostrar == true">
  <div class="row">
    <div class="col-8">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"

          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>

    </div>
  </div>
</div>
