<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a router-link="/inicio" routerLinkActive="active" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a router-link="/carrito" routerLinkActive="active" class="nav-link">Carrito</a>
            </li>
            <li class="nav-item">
                <a router-link="/cuenta" routerLinkActive="active" class="nav-link">Cuenta</a>
            </li>
            <li class="nav-item">
                <a router-link="/logout" routerLinkActive="active" class="nav-link">Cerrar sesion</a>
            </li>
            <li class="nav-item lvl2">
                <a router-link="/logout" routerLinkActive="active" class="nav-link">Administrar</a>
                <ul>
                    <li class="nav-item">
                        <a href="#">ABC Producto</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Ganacias</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Ventas pendoentes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>