<app-store-menubar></app-store-menubar>

<div class="registro">
<h2>Datos de la Cuenta</h2>

  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
    </div>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Apellido(s)" aria-label="Last name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Domicilio" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Usuario" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <button class="botones btn btn-dark">Guardar</button>
    <button class="botones btn btn-dark">Cancelar</button>
  </div>
</div>
