.registro {
  width: 80%;
  margin: 15px auto;
  padding: 5px;
  background-color: darkseagreen;
  color: white;
}

h2 {
  margin: 30px;
}

.row {
  margin: 1rem 0.5rem;
}

.botones {
  width: 40%;
  margin: 10px auto;
  padding: 3px;
}
