<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a href="/inicio" router-link="/inicio" routerLinkActive="active" class="nav-link">
          <i class="pi pi-home" style="font-size: 30px"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="/carrito" router-link="/carrito" routerLinkActive="active" class="nav-link">
          <i class="pi pi-shopping-cart" style="font-size: 30px"></i>
        </a>

      </li>
      <li class="nav-item">
        <a href="/cuenta" router-link="/cuenta" routerLinkActive="active" class="nav-link">
          <i class="pi pi-user" style="font-size: 30px"></i>
        </a>

      </li>
      <li class="nav-item">
        <a href="/login" router-link="/login" routerLinkActive="active" class="nav-link">
          <i class="pi pi-sign-out" style="font-size: 30px"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="registro">
<h2>Datos de la Cuenta</h2>

  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
    </div>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Apellido(s)" aria-label="Last name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Domicilio" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Usuario" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <button class="botones btn btn-dark">Guardar</button>
    <button class="botones btn btn-dark">Cancelar</button>
  </div>
</div>
