<form clrForm>

    <h1>Edicion de Cuenta</h1>


    <label>Nombre</label>
    <input type="text" pInputText />

    <br>

    <label>Apellido</label>
    <input type="text" pInputText />

    <br>

    <label>Domicilio</label>
    <input type="text" pInputText />

    <br>

    <label>Contraseña</label>
    <input type="text" pInputText />

    <br>

    <label>Confirmar contraseña</label>
    <input type="text" pInputText />


    <br>
    <button pButton type="button" label="Guardar"></button>
    <button pButton type="button" label="Cancelar"></button>
    <!--
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-primary" type="submit">Cancelar</button>-->
</form>